{% extends 'base.html' %}

{% block meta %}
<title>🆕Create Task🆕</title>
{% endblock meta %}

{% block content %}

{% load static %}
<head>
<link rel="stylesheet" href="{% static 'create_taskcss.css' %}">
    </head>

<body>
    <div class="create_task">    
        <h1 class= "header" style="text-align: center">Drop your task here:</h1>  
        <form method="POST" >  
            {% csrf_token %}  
            <table table align="center">  
                {{form.as_table}}  
                <tr>
                    <td><center><input class="button" type="submit" name="submit" placeholder="Push"/></center></td>  
                </tr>  
            </table>  
        </form>

        {% if messages %} 
                {% for message in messages %}  
                    <p class="message">{{message}}</p>  
                    {% endfor %}
        {% endif %}
    </div>  
</body>

{% endblock content %}


