{% extends 'base.html' %}

{% block meta %}
<title>👇Login👇</title>
{% endblock meta %}

{% block content %}

{% load static %}
<head>
<link rel="stylesheet" href="{% static 'logincss.css' %}">
    </head>

<body>
    <div class = "login">
        <h1 class= "header" style="text-align: center">Login Here!</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>

            </table>
                <tr>
                    <center><input class="login_btn" type="submit" value="Login"></center>
                </tr>
        </form>

        {% if messages %}
                {% for message in messages %}
                <br>
                    <p class="message">{{message}}</p>
                {% endfor %}
        {% endif %}     
        <br/><br/>

        <p><b style="text-align: center">New here?</b>
        <a style="text-align: center; color: #000;" href="{% url 'todolist:register' %}">Create an Account</a></p>

    </div>
</body>

{% endblock content %}