{% extends 'base.html' %}

{% block meta %}
<title>📑#TODO List📑</title>
{% endblock meta %}

{% block content %}  

{% load static %}
<head>
<link rel="stylesheet" href="{% static 'todolistcss.css' %}">
    </head>

<body>
    <div class="todolist">
        <h2 class="header">Welcome to your daily #TODO List, dear {{username}}!</h2>
        <!-- <h2 style="text-align: center; color: #33475b">Have a productive <day!</h2> -->
        <div style="text-align: end;">
            <a href="{% url 'todolist:create_task' %}">
                <button class="add">Add New Task</button>
            </a>
        </div>

            {% for todo in todolist %}
                <div class="card lg:grid-cols-4 md:grid-cols-3 gap-5 mt-8 sm:mt-5">
                    {% if todo.is_finished == False %}
                        <p style="text-align: end; font-size: 85%; opacity: 0.7;">{{todo.date}}</p>
                        <h2>{{todo.title}}</h2>
                        <p style="font-size: 90%;">{{todo.description}}</p>
                        <h4>Pending</h4>
                            <div style="text-align: end;">
                                <a href="/todolist/update-status/{{todo.id}}">
                                    <button class="update" type="submit">Update</button>
                                </a>
                                <a href="/todolist/delete-task/{{todo.id}}">
                                    <button class="delete" type="submit">Delete</button>
                                </a>
                            </div>
                    {% else %}
                        <div style="opacity: 0.5;">
                            <p style="text-align: end; font-size: 85%; opacity: 0.7;">{{todo.date}}</p>
                            <h2>{{todo.title}}</h2>
                            <p style="font-size: 90%;">{{todo.description}}</p>
                            <h4>Done</h4>
                                <div style="text-align: end;">
                                    <a href="/todolist/update-status/{{todo.id}}">
                                        <button class="update" type="submit">Update</button>
                                    </a>
                                    <a href="/todolist/delete-task/{{todo.id}}">
                                        <button class="delete" type="submit">Delete</button>
                                    </a>
                                </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
                
            <div style="text-align: center;">                
                <a href="{% url 'todolist:logout' %}">
                    <button class="logout">Logout</button>
                </a>
        </div>
    </body>
{% endblock content %}